body {
    background-color: rgb(146, 169, 245);
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 25px;
    filter: drop-shadow(8px 8px 10px rgb(59, 57, 57));
}

footer {
   text-align: center; 
   font-weight: 900;
}

.table {
    padding-top: 25px;
    padding-bottom: 25px;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    text-align: center;
}

th {
    background-color: goldenrod;
    text-decoration: underline;
}

td {
    background-color: white;
}

.container {
    position: relative;
    text-align: center;
    color: rgb(15, 15, 15);
}

.bottom-left {
    position: relative;
    bottom: 24px;
    right: 80px;
    font-weight: 900;
    text-align: center;  
}

.navbar {
    overflow: hidden;
    background-color: goldenrod;
    position: fixed;
    top: 0;
    width: 100%;
    font-weight: 900;
}

.navbar a {
    color: black;
}

.navbar a:hover {
    background-color: grey;
}

.column {
    float: left;
    width: 50%;
    color:rgb(59, 57, 57)
    
}

.row {
    height: auto;
    width: auto;
    background-color: gray;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

p:hover {
    background-color: bisque;
}